html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	background: #111;
	color: white;
}

.container {
	padding: 30px;
}

.container button {
	outline: none;
	color: black;
	border-radius: 3px;
	border: none;
	font-size: 18px;
	padding: 6px 12px;
	cursor: pointer;
	transition: border-color 200ms ease, background-color 200ms ease;
	font-weight: 500;
	background: #ddd;
}

.container button:hover {
	background: white;
	color: black;
	border-color: white;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.container .encrypted {
	background-color: hsl(75 85% 60%);
}

.container .wrong-password {
	background-color: hsl(10 78% 54%);
}

.container .invalid {
	background-color: hsl(39 100% 57%);
}

.container hr {
	margin: 20px 0;
	height: 1px;
	background: #333;
	border: none;
}

.container p {
	font-size: 22px;
}

.btn-group {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
